node_modules
.git
.gemini
ref
fotos
package-lock.json
package.json
convert.py
C:\Users\brgsb\.gemini\antigravity-ide\brain\*
C:\Users\brgsb\.gemini\*
*.log
*.md
*.ps1
*.jsonl
docker-compose.yml
.dockerignore
imagens para compor o site
